.app {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 20px 50px 20px;
}

h2 {
  color: $dark-grey;
}

.alarms-title {
  font-size: 30px;
  margin-bottom: 25px;
}

.back-button,
.new-alarm {
  color: $pink;
  &:hover {
    cursor: pointer;
  }
}

.new-alarm {
  font-size: 80px;
  position: absolute;
  left: 150px;
  bottom: 20px;
  padding-bottom: 9px;
}

.back-button {
  font-size: 40px;
}

.alarm-label-title {
  color: $light-grey;
  font-size: 20px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
  margin-top: 20px;

  .input-box {
    border: 0px solid;
    height: 40px;
    width: 320px;
    color: #ccc;
    border-bottom: 1px solid;
    font-size: 15px;
    margin-top: 10px;
    color: $medium-grey;
  }

  .selects {
    margin-top: 30px;

    .colon {
      color: $pink;
    }
  }

  .select {
    margin-right: 10px;
    font-size: 20px;
    color: $medium-grey;
  }

  .select-minutes {
    margin-left: 10px;
  }
}

.repeat-title {
  margin-top: 30px;
  color: $light-grey;
  font-size: 20px;
}

.days {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  .day {
    margin-right: 20px;
    width: 30px;
    color: $medium-grey;
    &:hover {
      cursor: pointer;
    }
  }

  .repeatedDay {
    color: $pink;
    font-weight: bolder;
  }
}

.save-button {
  margin-top: 60px;
  background-color: $pink;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  justify-self: self-end;
}

.alarm-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.time-label {
  cursor: pointer;
}
.inner-modal {
  margin-bottom: 30px;
}

.btn-primary {
  background-color: $pink;
  border-color: $pink;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}

.alarm-name {
  color: $light-grey;
  font-size: 1.2rem;
  margin-top: 8px;
}

.times {
  color: $dark-grey;
  font-size: 1.2rem;
}
